<div class="form-container">
  <%= simple_form_for @service do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :tags %>
    <%= f.submit "Add a new service", class: "button button--primary" %>
  <% end %>
</div>
