<div class="">

<div class="d-none">
  <i class="fa-solid fa-bars"></i>
</div>

<ul class="navbar">
  <li>
    <%= link_to root_path do %>
      <%= image_tag 'IA.png', alt: "logo ines alvergne" %>
    <% end %>
  </li>
  <li><p>ABOUT ME</p></li>
  <li> <%= render 'shared/svg/dot' %></li>
  <li><p>MY SERVICES</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>WEB DEVELOPMENT</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>MARKETING</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>GET IN TOUCH</p></li>
</ul>
</div>
