<div class="navbar-top" data-controller="mobile-navbar">
  <div class="hamburger d-none">
    <%= link_to root_path, id: 'logo' do %>
        <%= image_tag 'logo_light.png', alt: "logo ines alvergne", width: 35 %>
      <% end %>
    <i  class="fa-solid fa-bars fa-2x"
        data-action="click->mobile-navbar#reveal"></i>
  </div>

  <ul class="desktop-menu">
    <li>
      <%= link_to root_path do %>
        <%= image_tag 'logo_light.png', alt: "logo ines alvergne", width: 50 %>
      <% end %>
    </li>
    <li><%= link_to 'ABOUT ME', about_me_path %></p></li>
    <li><%= render 'shared/svg/dot' %></li>
    <li><%= link_to 'MY SERVICES', services_path %></li>
    <li><%= render 'shared/svg/dot' %></li>
    <li><%= link_to 'WEB DEVELOPMENT', about_me_path %></li>
    <li><%= render 'shared/svg/dot' %></li>
    <li><%= link_to 'MARKETING', about_me_path %></li>
    <li><%= render 'shared/svg/dot' %></li>
    <li><%= link_to 'GET IN TOUCH', about_me_path %></li>
  </ul>

  <div  class="mobile-menu d-none"
        data-mobile-navbar-target="mobileMenu">
    <ul class="menu-items">
      <li>
        <i  class="fa-solid fa-xmark fa-2x"
            data-action="click->mobile-navbar#hide"></i>
      </li>
    <li><%= link_to 'ABOUT ME', about_me_path %></p></li>
    <li><%= link_to 'MY SERVICES', about_me_path %></li>
    <li><%= link_to 'WEB DEVELOPMENT', about_me_path %></li>
    <li><%= link_to 'MARKETING', about_me_path %></li>
    <li><%= link_to 'GET IN TOUCH', about_me_path %></li>
    </ul>
  </div>
</div>
