<li><%= link_to 'ABOUT ME', about_me_path, class: "nav-item #{'active' if @current_view == 'about'}" %></li>
<li><%= link_to 'MY SERVICES', services_path, class: "nav-item #{'active' if @current_view == 'services'}" %></li>
<li><%= link_to 'WEB DEVELOPMENT', about_me_path, class: "nav-item"  %></li>
<li><%= link_to 'MARKETING', about_me_path, class: "nav-item"  %></li>
<li><%= link_to 'GET IN TOUCH', about_me_path, class: "nav-item"  %></li>
