<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolioV2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class=<%="background-green-gradient" if @display_background_green_gradient %>>
    <%= render "shared/navigation/navbar" %>
    <%= yield %>
  </body>
</html>
